@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    font-family: 'Jua', sans-serif;
}

body {
    background: linear-gradient(135deg, rgb(225, 255, 213), rgb(170, 240, 209));
}

.wrap { 
    margin: 1% 1% 1% 1%;    /* 테두리 */
    background-color: rgb(225, 255, 213);
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.title_back {
    height: 300px;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;

    border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
}

.title_main {
    height: 250px;
    width: 100%;
    margin: 50px auto 50px auto;

    background-image: url('../img/member.gif');
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-repeat: repeat;
    background-size: 35%;

    border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
}

.cards .card {

    max-width: 200px;
    max-height: 500px;

    margin: 20px auto 20px 50px;

    background-color: rgb(59, 253, 0);
 
}

.modal-header, .modal-body, .modal-footer {

    border-color: #28a745 !important;
    
}

.card-img-top{

    width: 250px !important;
    height: 250px;

    border-radius: 20px !important;

    border:  1px solid #28a745 !important;
    
}

.card-text {

    margin-top: 10px;
    width: 250px;
    height: 250px;     
    overflow-x: auto;   

    
}

.name-mbti{
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 0px !important;
    margin-bottom: 0px !important;

}



.form-name{

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 800px;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px !important;
}

.cards .card .card-img-top {
    width: 100%;
    height: auto;
    max-height: 150px;

    object-fit: cover;
    border-radius: 10px ;

    margin: 1% 1% 1% 1%;    /* 테두리 */
    background-color: rgb(0, 0, 0);
}


.modal_postingbox {
    width: 500px;
    margin: 20px auto 20px auto;
    
    border: 1px solid white;
    padding: 20px;
    border-radius: 5px;
}



.modal-body .form {    
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-body .form-content {
    margin-top: 10px;
    margin-bottom: 0px;

}

.form:first-child {
    margin-top: 0px !important;
}

.modal-footer .btn-group .btn {
    margin-left: 0px !important; 
}

.modal-footer .btn-group .btn:first-child {
    margin-left: 0;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards_table {
    display: flex;
    flex-wrap: wrap;
    margin : 30px;
    gap: 20px;
    justify-content: center;
}

#modalContainer.hidden {
    display: none;
}

.button_area{
    display: flex;
    justify-content: space-around;
}

#mbtiInput option {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

/* new member mbti color */

#mbtiInput option[value="ISTJ"] {
    color: #BA55D3;
}

#mbtiInput option[value="ISFJ"] {
    color: #98FB98;
}

#mbtiInput option[value="INFJ"] {
    color: #F4A460;
}

#mbtiInput option[value="INTJ"] {
    color: #C71585;
}

#mbtiInput option[value="ISTP"] {
    color: #696969;
}

#mbtiInput option[value="ISFP"] {
    color: #87CEEB;
}

#mbtiInput option[value="INFP"] {
    color: #FFD700;
}

#mbtiInput option[value="INTP"] {
    color: #00BFFF;
}

#mbtiInput option[value="ESTP"] {
    color: #000000;
}

#mbtiInput option[value="ESFP"] {
    color: #EE82EE;
}

#mbtiInput option[value="ENFP"] {
    color: #FFB6C1;
}

#mbtiInput option[value="ENTP"] {
    color: #0000FF;
}

#mbtiInput option[value="ESTJ"] {
    color: #FFA500;
}

#mbtiInput option[value="ESFJ"] {
    color: #FFFF00;
}

#mbtiInput option[value="ENFJ"] {
    color: #808080;
}

#mbtiInput option[value="ENTJ"] {
    color: #F5FFFA;
}

/* edit member mbti color */

#mbtiInputEdit option[value="ISTJ"] {
    color: #BA55D3;
}

#mbtiInputEdit option[value="ISFJ"] {
    color: #98FB98;
}

#mbtiInputEdit option[value="INFJ"] {
    color: #F4A460;
}

#mbtiInputEdit option[value="INTJ"] {
    color: #C71585;
}

#mbtiInputEdit option[value="ISTP"] {
    color: #696969;
}

#mbtiInputEdit option[value="ISFP"] {
    color: #87CEEB;
}

#mbtiInputEdit option[value="INFP"] {
    color: #FFD700;
}

#mbtiInputEdit option[value="INTP"] {
    color: #00BFFF;
}

#mbtiInputEdit option[value="ESTP"] {
    color: #000000;
}

#mbtiInputEdit option[value="ESFP"] {
    color: #EE82EE;
}

#mbtiInputEdit option[value="ENFP"] {
    color: #FFB6C1;
}

#mbtiInputEdit option[value="ENTP"] {
    color: #0000FF;
}

#mbtiInputEdit option[value="ESTJ"] {
    color: #FFA500;
}

#mbtiInputEdit option[value="ESFJ"] {
    color: #FFFF00;
}

#mbtiInputEdit option[value="ENFJ"] {
    color: #808080;
}

#mbtiInputEdit option[value="ENTJ"] {
    color: #F5FFFA;
}
